<a href="https://colab.research.google.com/github/jafarsayed167/Python/blob/main/Operators_Day_01_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Operators

Day-01
Arithmetic Floor Divison in Python (//)

In [ ]:
#example-1

print(10//3)
print(-10//3)
print(10//-3)
print(-10//-3)

3
-4
-4
3

In [ ]:
#Examle-3

print(3//10)
print(-3//10)
print(3//-10)
print(-3//-10)

0
-1
-1
0

In [ ]:
# Example - 3

print(14.5//3)
print(-14.5//3)
print(14.5//-3)
print(-14.5//-3)

4.0
-5.0
-5.0
4.0

In [ ]:
# Example-5
print(3//14.5)
print(-3//14.5)
print(3//-14.5)
print(-3//-14.5)

0.0
-1.0
-1.0
0.0

Arithmetic Modulus Operator (%)

In [ ]:
#example-1
# Formula is a - (b*(a//b))

print(6%2)
print(-6%2)
print(6%-2)
print(-6%-2)

0
0
0
0

In [ ]:
#example-2

print(2%6)
print(-2%6)
print(2%-6)
print(-2%-6)

2
4
-4
-2

In [ ]:
#example - 3

print(16%13)
print(-16%13)
print(16%-13)
print(-16%-13)

3
10
-10
-3

In [ ]:
# example - 4

print(13%16)
print(-13%16)
print(13%-16)
print(-13%-16)

13
3
-3
-13

3) Arithmetic Exponent Operator

In [ ]:
#Arithmetic Exponent Operator (**)

base = int(input())
power = int(input())
result = base ** power
print(result)

2
3
8

4) Relational Operator

In [ ]:
print(10>10)
print(10>=10)
print(10<10)
print(10<=10)
print(10==10)
print(10!=10)

False
True
False
True
True
False

Logical and Operator

In [ ]:
# definition : Returns True if both are true, otherwise false

n1 = 11
n2 = 22
result = (n1<50 and n2>20)
print(result)
result = (n1>50 and n2>20)
print(result)

True
False

Logical or Operator

In [ ]:
#definition => or operator evaluates all expressions and returns the first value that evaluates true, otherwise it evaluates last value that evaluates false

n1 = 56
n2 = 67
res = (n1<50 or n2>20)
print(res)
res = (n1<50 or n2>88)
print(res)

True
False